<%- include('../partials/header') %>

<ul>
    <!-- flounder is used everywhere where there is JS code within HTML -->
    <% skills.forEach(function(s) { %> 
        <li>
            <a href="/skills/<%=s.id%>"><%= s.skill %></a>
            - 
            <%= s.done ? 'done' : 'not done' %>
        </li>
        <% }); %>
    </ul>
    
<%- include('../partials/footer') %>