<%- include('../partials/header') %>

    <p>Skill: <%= skill.skill %> - <a href="/skills/<%=skill.id%>/edit">Edit</a></p>
    <%= skill.done ? 'done' : 'not done' %>

<%- include('../partials/footer') %>

